<!DOCTYPE html>
<head>
    <title>UserSignupSignin Project</title>
</head>
<body>
    <h1>Project Meta</h1>
    <hr>
    <form method="post">
        {% csrf_token %}
        <label for="">Username</label>
        <input type="text" name="username" id="">
        <br>
        
        <label for="">Password</label>
        <input type="password" name="password" id="">
        <br>

        <button type="submit">Log in</button>
        <br>
    </form>
    <hr>
    <h3><a href="{% url 'signup' %}">Create new account</a></h3>
</body>
</html>